<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422428432643-ekbj0ikav67j1ihdsrh34nd13v6bfso7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422428432643-ekbj0ikav67j1ihdsrh34nd13v6bfso7</string>
	<key>API_KEY</key>
	<string>AIzaSyD25pFkTORhso2t8Lrf3rnPFTu6xgJ49ak</string>
	<key>GCM_SENDER_ID</key>
	<string>422428432643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Raging-Bull.Raging-Bull-Casino</string>
	<key>PROJECT_ID</key>
	<string>raging-bull-3cc78</string>
	<key>STORAGE_BUCKET</key>
	<string>raging-bull-3cc78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422428432643:ios:e5e274a55b9445e717b136</string>
</dict>
</plist>